/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.absolute-container {
    position: absolute;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
}

.red {
    background-color: red;
    height: 100vh;
}

.green {
    background-color: green;
    height: 100vh;
}

.blue {
    background-color: blue;
    height: 100vh;
}

.carousel-caption {
    z-index: 0 !important;
    top: 50%;
}